@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






:root {
    --padding-table: 0.75rem;
    --table-cell-height: 4rem
}





body {
    background-color: #e2e8f0;
    margin: 0;
    font-family: 'Rubik', Roboto, sans-serif;
    font-size: 14px;
}

main {
    width: 1400px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.header {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    width: 100%;
    height: 40px;
    margin-top: 50px;    
    text-align: center;
    font-size: 1.25rem;
}

.book-info-input {
    width: 75%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: none;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}


.input {
    display: flex;
    flex-direction: column;
    
}

label, .select-label {
    font-size: 1.25rem;
}

input, select {
    margin-top: 10px;
    height: 26px;
    width: 180px;
    border-radius: 13px;
    padding-left: 13px;
    padding-right: 13px;
    font-size: 1.1rem;
    -webkit-appearance: none;
    border: 1px solid lightgrey;
}

input:focus {
    border: 1px solid #33C3F0;
    outline: 0;
}

select {
    height: 30px;
    padding-right: 10px;
    background-image: url(http://s1.iconbird.com/ico/2013/8/426/w32h321377581133134TriangleDown.png);
    background-size: 5%;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: calc(100% - 10px);
}
select:focus {
    border: 1px solid #33C3F0;
    outline: 0;
}

.add-button {
    height: 1.5rem;
}


table {
    background-color: #e2e8f0;
    width: 75%;
    
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: left;
    
    
}

th {
    height: var(--table-cell-height);
    vertical-align: middle;
    padding: 8px;
    border-bottom: 1px solid rgb(153, 153, 153);
    font-size: 1.5rem;

}

td {
    border-bottom: 1px solid rgb(153, 153, 153);
    height: var(--table-cell-height);
    padding: 8px;
    vertical-align: middle;
}

.book-title {
    width: 20%;
}

.book-author {
    width: 20%;
}

.book-pages {
    width: 15%;
}

.book-status {
    width: 15%;
    text-align: left;
}

.book-delete{
    width: 20%;
    text-align: center;
}

.add-button, .change-status-button, .delete-button {
    --height: 2.5rem;
    width: 6rem;
    height: var(--height);
    border-radius: calc(var(--height) * 0.45); 
    border: none;
    color: white;
    font-weight: 600;
    box-shadow: 1px 1px 10px #cacaca;
}

.add-button {
    background-color: #047857;
}

.add-button:hover {
    background-color: #065f46
}


.change-status-button {
    background-color: #0ea5e9;
}
.change-status-button:hover {
    background-color: #0284c7;
}




.delete-button {
    background-color: #ef4444;
}


.delete-button:hover {
    background-color: #b91c1c;
}

